.picker {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1a1a1a;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(251, 202, 97, 0.7);
    width: 250px;
    overflow-x: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
}

.option {
    font-size: 1.5rem;
    color: #FBCA61;
    padding: 10px 20px;
    cursor: pointer;
    scroll-snap-align: center;
    opacity: 0.5;
}

.option.active {
    color: #000;
    background-color: #FBCA61;
    border-radius: 10px;
    font-weight: bold;
    transform: scale(1.1);
    opacity: 1;
}

/* --- TIME PICKER --- */
.time-picker {
    width: 70px;
    height: 90px;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    text-align: center;
    background: #1a1a1a;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(251, 202, 97, 0.7);
    padding: 5px 0;
}

.time-picker .option {
    padding: 5px;
    font-size: 1.5rem;
    color: #FBCA61;
    scroll-snap-align: center;
    cursor: pointer;
    opacity: 0.5;
}

.time-picker .option.active {
    color: #000;
    background-color: #FBCA61;
    border-radius: 10px;
    font-weight: bold;
    transform: scale(1.1);
    opacity: 1;
}
